login
<div class="container-fluid" style="margin-top: 10px; margin-left: 10px;">
    <!--<div id="facebookLoginBtn" ng-click="authenticate('facebook')">-->

        <!--<span class="icon"></span>-->
        <!--<span class="buttonText">Facebook1</span>-->
    <!--</div>-->
    <div id="facebookLoginBtn2" ng-click="loginFB()">
        <span class="icon"></span>
        <span class="buttonText">Facebook2</span>
    </div>
    <div id="googleLoginBtn" ng-click="authenticate('google')">
        <span class="icon"></span>
        <span class="buttonText">Google</span>
    </div>
</div>